@model ProfileformViewModel;

@{
    ViewData["Title"] = $"Edit {Model.UserName} Profile";
}

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" autocomplete="firstName" aria-required="true" placeholder="First Name" />
        <label asp-for="FirstName">FirstName</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="LastName" />
        <label asp-for="LastName">LastName</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" autocomplete="UserName" aria-required="true" placeholder="UserName" />
        <label asp-for="UserName">UserName</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary d-block mt-4">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}